<% @posts.each do |post| %>
  <tr>
    <td>
      <div class="card">
        <div class="row g-0">
          <div class="col-auto">
            <div class="card-body">
              <% require 'icodi' %>
              <% icon = Icodi.new post.blog.username %>
              <div class="avatar avatar-md">
                <%= raw icon.render %>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body ps-0">
              <div class="row">
                <div class="col">
                  <h3 class="mb-0">
                    <a href="<%= post.url %>" class="" target="_blank"><%= post.title %></a>
                  </h3>
                </div>
                <div class="col-auto fs-3 text-magenta">
                  <%= post.published_at&.strftime("%b %d") %>
                </div>
              </div>
              <div class="row">
                <div class="col-md">
                  <% if post.summary.present? %>
                    <p class="text-muted mt-1"><%= truncate(post.summary, length: 200) %></p>
                  <% end %>
                  <div class="mt-3 list-inline list-inline-dots mb-0 text-muted d-sm-block d-none">
                    <div class="list-inline-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                      </svg>
                      <a href="https://news.ycombinator.com/user?id=<%= post.blog.username %>" target="_blank" class="text-reset" tabindex="-1"><%= post.blog.username %></a>
                    </div>
                    <% if post.blog.karma.present? %>
                      <div class="list-inline-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                          <path d="M16 19h6"></path>
                          <path d="M19 16v6"></path>
                          <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                        </svg>
                        <%= post.blog.karma %>
                      </div>
                    <% end %>
                    <div class="list-inline-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 15l6 -6"></path>
                        <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path>
                        <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"></path>
                      </svg>
                      <code><%= link_to post.blog.domain, post.blog.hyperlink, target: '_blank' %></code>
                    </div>
                    <% if post.word_count.present? %>
                      <div class="list-inline-item">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-text" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                          <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                          <path d="M9 9l1 0"></path>
                          <path d="M9 13l6 0"></path>
                          <path d="M9 17l6 0"></path>
                        </svg>
                        <%= post.word_count %> words
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="mt-3 badges">
                    <% if post.blog.rss.present? %>
                      <a href="<%= post.blog.rss %>" class="badge bg-yellow-lt">RSS</a>
                    <% end %>
                    <% if post.tags.any? %>
                      <% post.tags.first(3).each do |tag| %>
                        <span class="badge bg-blue-lt"><%= tag %></span>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </td>
  </tr>
<% end %>
