<% @blogs.each do |blog| %>
  <tr>
    <td>
      <div class="card">
        <div class="row g-0">
          <div class="col-auto">
            <div class="card-body">
              <% require 'icodi' %>
              <% icon = Icodi.new blog.username %>
              <div class="avatar avatar-md">
                <%= raw icon.render %>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body ps-0">
              <div class="row">

                <div class="col">
                  <h3 class="mb-0">
                    <a href="<%= blog.last_post_url %>" class="" target="_blank"><%= blog.last_post_title %></a>
                  </h3>
                </div>
                <div class="col-auto fs-3 text-magenta"><%= blog.last_post_date %></div>
              </div>
              <div class="row">
                <div class="col-md">
                  <div class="mt-3 list-inline list-inline-dots mb-0 text-muted d-sm-block d-none">
                    <div class="list-inline-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                      </svg>
                      <a href="https://news.ycombinator.com/user?id=<%= blog.username %>" target="_blank" class="text-reset" tabindex="-1"><%= blog.username %></a>
                    </div>
                    <div class="list-inline-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                        <path d="M16 19h6"></path>
                        <path d="M19 16v6"></path>
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                      </svg>
                      <%= blog.karma %>
                    </div>
                    <div class="list-inline-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-link" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M9 15l6 -6"></path>
                        <path d="M11 6l.463 -.536a5 5 0 0 1 7.071 7.072l-.534 .464"></path>
                        <path d="M13 18l-.397 .534a5.068 5.068 0 0 1 -7.127 0a4.972 4.972 0 0 1 0 -7.071l.524 -.463"></path>
                      </svg>
                      <code><%= link_to blog.hyperlink, blog.hyperlink %></code>
                    </div>
                  </div>
                  <div class="mt-3 list mb-0 text-muted d-block d-sm-none">
                    <div class="list-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8"></path><path d="M13 7l0 .01"></path><path d="M17 7l0 .01"></path><path d="M17 11l0 .01"></path><path d="M17 15l0 .01"></path></svg>
                      <a href="<%= blog.rss %>" class="badge bg-yellow-lt">RSS</a>
                    </div>
                    <div class="list-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 21h-9a3 3 0 0 1 -3 -3v-1h10v2a2 2 0 0 0 4 0v-14a2 2 0 1 1 2 2h-2m2 -4h-11a3 3 0 0 0 -3 3v11"></path><path d="M9 7l4 0"></path><path d="M9 11l4 0"></path></svg>
                      Full-time</div>
                    <div class="list-item">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path></svg>
                      Remote / USA</div>
                  </div>
                </div>
                <div class="col-md-auto">
                  <div class="mt-3 badges">
                    <a href="<%= blog.rss %>" class="badge bg-yellow-lt">RSS</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </td>

  </tr>
<% end %>
