<% @blogs.each do |blog| %>
  <tr>
    <td>
      <% if blog.is_online == nil %>
        <span class="badge bg-secondary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Status: Unknown"></span>
      <% elsif blog.is_online == false %>
        <span class="badge bg-danger me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Status: Offline"></span>
      <% else %>
        <span class="badge bg-success me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Last Checked: <%= blog.online_last_check %>"></span>
      <% end %>

    </td>
    <td>
      <a href="https://news.ycombinator.com/user?id=<%= blog.username %>" target="_blank" class="text-reset" tabindex="-1"><%= blog.username %></a>
    </td>
    <td class="text-right" style="font-family: 'Courier New'">
      <%= blog.karma %>
    </td>
    <td class="d-none d-sm-table-cell">
          <em style="font-family: 'Courier New'; font-size: small;">
            <%= blog.description.html_safe %>
          </em>
    </td>
    <td class="text-wrap">
      <code><%= link_to blog.hyperlink, blog.hyperlink %></code>
    </td>
    <td class="d-none d-sm-table-cell">
      <% if blog.rss.present? %>
        <a href="<%= blog.rss %>" class="badge bg-yellow-lt">RSS</a>
      <% end %>
    </td>

  </tr>
<% end %>